.project-settings-form {
  display: flex;
  gap: 8px;
}

.member-select-item {
  margin-right: 8px;
}

.member-select {
  width: 360px !important;
}

/* 单行显示并省略 */
.member-select .ant-select-selector {
  height: 36px !important;
  padding: 4px 8px !important;
}
.member-select .ant-select-selection-overflow {
  flex-wrap: nowrap !important;
}
.member-select .ant-select-selection-item {
  max-width: 140px;
}
.member-select .ant-select-selection-item-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.member-select .ant-select-selection-placeholder {
  line-height: 28px;
}

@media (min-width: 1280px) {
  .member-select {
    width: 420px !important;
  }
}
